@font-face {
    font-family: "IBM";
    src: url(IBM-Logo.ttf);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    color: rgb(96, 247, 9);
    font-family: IBM;
    text-decoration: none;
    list-style: none;

    transition: all ease-in-out 0.1s;
}

#IntroductionPortion-BackgroundVideo{
    width: 100%;
    position: absolute;

    z-index: -1;

    filter: blur(1px);
}

body{
    background-color: black;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    backdrop-filter: blur(5px);
    border-radius: 3px;
    cursor: default;
}

#menu a {
    cursor: pointer;
    backdrop-filter: blur(5px);
}

#menu a:hover {
    cursor: pointer;
    backdrop-filter: blur(5px);
    color: white;
}
.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    flex-direction: column;
    gap: 2rem;
}

#credits{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 1rem;
}